<div>
    <!-- <img src="../../assets/img/background-arka-plan-mavi-tahta.jpg" style="background-image: image();" alt="Background"> -->
    <div class="login-box">
        <div class="login-logo">
            <img src="../../assets/img/StuxNET.ico" style="width:100px;height:100px;" alt="Bank of StuxNET"/>
          </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Oturum Aç</p>
    
          <form [formGroup]="loginForm">
            <div class="input-group mb-3">
              <input
                formControlName="tc"
                type="number"
                class="form-control"
                placeholder="TC Kimlik Numarası"
                ngModel required/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                formControlName="pw"
                type="password"
                class="form-control"
                placeholder="Şifre"
                ngModel required/>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <button
                  (click)="onSubmit()"
                  type="submit"
                  class="btn btn-primary btn-block btn-flat"
                >
                  Sign In
                </button>
              </div>
              <div>
                <button
                [routerLink]="['/register']"
                type="submit"
                class="btn btn-primary btn-flat"
                style="position: absolute; right: 20px; width: 100px;"
                >
                  Register
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

