<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="toggleMenuSidebar.emit()"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a [routerLink]="['/accountlist']" routerLinkActive="active" class="nav-link" >Hesapları Listele</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a [routerLink]="['/account-transaction']" routerLinkActive="active" class="nav-link">Hesap Hareketleri</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a [routerLink]="['/money-transfer']" routerLinkActive="active" class="nav-link">Para Transferleri</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto" *ngIf="currentUser">
    <li class="nav-item">
      <a
        class="nav-link"
        (click)="logout()"
      >
        <i class="fas fa-power-off">  Çıkış</i>
      </a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->
