<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Fatura Öde</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Anasayfa</a></li>
            <li class="breadcrumb-item active">Fatura Öde</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <form [formGroup]="payForm" (ngSubmit)="paySubmit()">
  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-sm-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Gerekli Bilgileri Girin!</h3>
              </div>
              
                <div class="card-body">
                  <div class="form-group">
                    <label for="additionalNo">Ödeme Yapacak Hesap</label>
                    <select formControlName="additionalNo" id="additionalNo" class="form-control">
                      <option *ngFor="let opt of accounts" [value]="opt.additionalNo" [selected]="opt.selected">{{opt.accNo}} - {{opt.additionalNo}} / Para miktarı: {{opt.Balance}} TL</option>                
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="billID">Fatura Numarası</label>
                    <input type="number" formControlName="billID" id="billID"  class="form-control" id="billID" placeholder="Fatura ID">
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Ödeme Yap</button>
                </div>
              
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Fatura Sorgula</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="input-group input-group-sm">
                  <input type="number" maxlength="6" formControlName="subsID" id="subsID" class="form-control" placeholder="Abone Numarası">
                  <span class="input-group-append">
                    <button (click)="querySubmit()" type="button" class="btn btn-info btn-flat">Fatura Sorgula</button>
                  </span>
                </div>
              
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Fatura ID</th>
                      <th>Abone Adı</th>
                      <th>Fatura Tipi</th>
                      <th>Fatura Dönemi</th>
                      <th>Fatura Tutarı</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let bills of queryBill">
                      <td ngIf="bills.billID">{{bills.BillID}}</td>
                      <td ngIf="bills.Type">{{bills.Type}}</td>
                      <td ngIf="bills.Customer">{{bills.Customer}}</td>
                      <td ngIf="billsTerm">{{bills.Term}}</td>
                      <td ngIf="bills.Debt  ">{{bills.Debt}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
  </form>