<div class="register-box">
    <div class="register-logo">
        <div class="fas fa-handshake"> Register</div>
      </div>
  <div class="card">
    <div class="card-body register-card-body">
      <form [formGroup]="registerForm">
        <div class="input-group mb-3">
          <input name="firstName" type="text" class="form-control" placeholder="Ad" autofocus maxlength="20"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="lastName" type="text" class="form-control" placeholder="Soyad" maxlength="20"/>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="tc"
                 type="number" 
                 min="10000000000"
                 max="99999999999"
                 pattern=“\d{11}” 
                 class="form-control" 
                 placeholder="T.C. Number"
          />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="far fa-id-card"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
            <input name="pw" type="password" class="form-control" placeholder="Şifre" minlength="6" maxlength="12" />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
              <input
                name="rePw"
                type="password"
                class="form-control"
                placeholder="Şifre Tekrar"
                required
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
                <input name="birthDate" type="date" class="form-control" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="far fa-calendar-alt"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                  <input name="address" type="text" class="form-control" placeholder="Adres" maxlength="50"/>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="far fa-map"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                    <input name="phone" type="number" class="form-control" pattern=“\d{11}”  placeholder="Telefon Numarası" />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-phone-square"></span>
                      </div>
                    </div>
                  </div>
        <div class="input-group mb-3">
          <input name="mail" type="email" class="form-control" placeholder="Email" maxlength="20" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        
        
        <div class="row">
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">
              Kayıt Ol
            </button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <br>
      <a [routerLink]="['/login']" class="text-center"
        >Giriş Yap</a
      >
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.card -->
</div>
